body {
    background-color: rgb(202, 189, 186);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 90%;
    max-width: 400px;
    height: auto;
    padding: 20px;
    border: 2px solid black;
    border-radius: 9px;
    background-color: rgb(201, 210, 213);
    box-shadow: 2px 5px 4px rgb(211, 155, 110);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2px;
}

input {
    width: 90%;
    height: 40px;
    text-align: right;
    margin: 10px 0;
    font-size: 1.2em;
    background-color: rgba(234, 31, 31, 0.7);
    border: none;
    padding: 10px;
    box-sizing: border-box;
}

#display2 {
    height: 40px;
    margin-top: 10px;
    background-color: rgba(234, 31, 31, 0.7);
    text-align: center;
    font-size: 1.2em;
    padding: 10px;
    box-sizing: border-box;
}

input::placeholder {
    text-align: center;
    font-size: 1.2em;
    color: black;
}

.but {
    height: 50px;
    width: 20%;
    margin: 10px 5px;
    font-size: 1em;
    flex: 1 0 21%;
    max-width: 80px;
    box-sizing: border-box;
}

.button_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

@media (min-width: 600px) {
    .but {
        height: 60px;
        width: 18%;
        margin: 10px 5px;
        font-size: 1.2em;
        flex: 1 0 21%;
        max-width: 80px;
    }
}

@media (min-width: 768px) {
    .but {
        height: 50px;
        width: 18%;
        margin: 10px 5px;
        font-size: 1.4em;
        flex: 1 0 21%;
        max-width: 80px;
    }
}